.loginpanel {
    position: absolute;
    padding-top: 200px;
    background-color: rgba(5,5,5,.6);
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    text-align: center;
    display: block;
}
#info {
    color: white;
    font-size: 20px;
}
.loginpanel>div {
    display: none;
}
.loginpanel>div>p {
    color: white;
    font-size: 20px;
}
.input-group {
    display: flex;
    justify-content: center;
}
#nickstr {
    width: 220px;
}